main {
  section.work-section {
    div.work-section-components-container {
      div.box-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 800px;
        div.work-box {
          width: 350px;
          height: 300px;
          border-radius: 2rem;
          margin-top: 70px;
        }
        div.box-4 {
          margin: 70px auto 30px auto;
        }
      }
    }
  }
}