* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Oxygen Mono', monospace;
  color: white;
  text-align: center;
  scroll-behavior: smooth;
}

div.navegation-buttons__container {
  display: flex;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  margin: 30px;
  a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 7.5rem;
    height: 2.5rem;
    border-radius: 0.8rem;
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: solid 2px white;
    margin-right: -3px;
  }
}


a.bottom-of-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  div.arrow-down-mini {
    width: 75px;
    height: 75px;
    background-image: url("icons/arrow-down-mini.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

section.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 50px 0 50px 0;
  min-width: 320px;
}

main {
  min-width: 320px;
}

// Variables

$bg-color-start-section: #0B1020;
$font-size-button: 1.2rem;
$button-border-color: #69A2FF;
$bg-color-about-section: #602EEC;