main {
  section.start-section {
    width: 100%;
    min-width: 320px;
    height: 100vh;
    background-color: $bg-color-start-section;
    div.logo-button-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 60px;
      padding: 10px 10px 0 10px;
      div.logo {
        width: 48px;
        height: 48px;
        background-image: url("../imgs/icons/logo.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      button.find-me {
        width: 7.5rem;
        height: 2.5rem;
        border-radius: 0.8rem;
        border: solid 2px $button-border-color;
        background-color: $bg-color-start-section;
        color: white;
      }
    }
    hr {
      background-color: white;
      width: 68%;
      height: 2px;
      margin-top: 100px;
      margin-bottom: 20px;
    }
    div.text-and-arrow-container {
      display: flex;
      div.big-arrow {
        width: 45px;
        height: 200px;
        background-image: url("../imgs/icons/arrow.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      div.text {
        font-size: 2.5rem;
        line-height: 3rem;
        padding-top: 35px;
        margin-left: 20px;
        div.keyboard {
          width: 85px;
          height: 85px;
          background-image: url("../imgs/icons/keyboard.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          margin: 0 auto;
        }
      }
    }
    div.bottom-of-section {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 200px;
      font-size: 1.5rem;
      div.arrow-down-mini {
        width: 75px;
        height: 75px;
        background-image: url("../imgs/icons/arrow-down-mini.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}