section.contact-section--file {
  background-color: $bg-color-about-section;
  min-width: 320px;
  height: 100vh;
  h1 {
    font-size: 2rem;
    font-style: bold;
    max-width: 200px;
    margin: 20px auto 30px auto;
  }
  h2 {
    margin: 20px auto 20px auto;
    max-width: 200px;
  }
  div.contact-card {
    background-image: url("icons/contact-card.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
    z-index: 1;
    margin: 20px auto 30px auto;
  }
  div.icons__container--contact {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 250px;
    height: auto;
    align-items: center;
    margin: 30px auto 30px auto;
    a.icon {
      width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
    }
    a.whatsapp {
      background-image: url("icons/whatsapp.svg");
    }
    a.email {
      background-image: url("icons/email.svg");
    }
    a.instagram {
      background-image: url("icons/instagram.svg");
    }
    a.phone {
      background-image: url("icons/cellphone.svg");
    }
  }
  a.home-button--contact-file {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 82px;
    height: 30px;
    margin: 40px auto 40px auto;
    border: solid 2px white;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  @media only screen and (min-width: 801px) {
    a.home-button--contact-file {
      transition: all 300ms ease-in;
    }
    a.home-button--contact-file:hover {
      background-color: white;
      color: $bg-color-start-section;
    }
    div.icons__container--contact {
      transition: all 250ms ease-in-out;
      a.icon {
        transition: all 300ms ease-in;
      }
      a.icon:hover {
        opacity: 0.6;
        transform: scale(1.3);
      }
    }
    div.icons__container--contact:hover {
      max-width: 350px;
    }
    div.contact-card {
      width: 100px;
      height: 100px;
    }
  }
}