section.contact-section {
  background-color: $bg-color-start-section;
  p {
    font-size: 1.5rem;
    max-width: 200px;
    margin: 40px auto 40px auto;
  }
  div.logo--bigger {
    margin: 0 auto 40px auto;
    width: 90px;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("icons/logo.svg");
  }
  a.find-me--bigger {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 12.5rem;
    height: 4.2rem;
    border-radius: 1.2rem;
    color: white;
    text-decoration: none;
    background-color: transparent;
    border: solid 2px $button-border-color;
    margin: 0 auto;
    cursor: pointer;
  }
  a.contact-bottom {
    position: static;
    margin: 60px auto 80px auto;
    div.arrow-up-mini {
      background-image: url("icons/arrow-down-mini.svg");
      transform: rotate(200grad);
    }
  }
  div.copy-right__container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    p.copy-right {
      margin: 0 auto 25px auto;
      font-size: 1rem;
      opacity: 0.7;
    }
  }
}