main {
  section.about-section {
    align-items: center;
    background-color: $bg-color-about-section;
    padding-top: 20px;
    position: relative;
    div.productive {
      background-image: url("../icons/productive.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 75px;
      height: 75px;
      z-index: 1;
      position: absolute;
      top: 60px;
      right: 15px;
    }
    div.bulb {
      background-image: url("../icons/bulb.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 80px;
      height: 80px;
      z-index: 1;
      position: absolute;
      bottom: 65px;
      left: 5px;
    }
    div.about-me--text {
      z-index: 0;
      h1 {
        font-size: 2.5rem;
        margin-bottom: 30px;
      }
      p {
        margin: 10px;
        font-size: 1.5rem;
      }
      p.im-colombian {
        margin-bottom: 40px;
      }
    }
  }
}