main {
  section.start-section {
    background-color: $bg-color-start-section;
    div.logo-button-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      top: 0;
      width: 100%;
      max-width: 800px;
      padding: 15px 10px 0 10px;
      div.logo {
        width: 48px;
        height: 48px;
        background-image: url("icons/logo.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      a.find-me {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        width: 7.5rem;
        height: 2.5rem;
        border-radius: 0.8rem;
        color: white;
        text-decoration: none;
        background-color: transparent;
        border: solid 2px $button-border-color;
      }
    }
    hr {
      background-color: white;
      width: 80%;
      max-width: 700px;
      height: 2px;
      margin-bottom: 20px;
    }
    div.text-and-arrow-container {
      display: flex;
      justify-content: center;
      position: relative;
      margin: 0 auto;
      width: 100%;
      max-width: 850px;
      scroll-snap-align: start;
      div.big-arrow {
        width: 60px;
        height: 200px;
        background-image: url("icons/arrow.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 0;
      }
      div.text {
        font-size: 2.5rem;
        line-height: 3rem;
        div.keyboard {
          width: 85px;
          height: 85px;
          background-image: url("/icons/keyboard.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          margin: 0 auto;
        }
      }
    }
  }
}