main {
  section.about-section {
    align-items: center;
    background-color: $bg-color-about-section;
    padding-top: 20px;
    div.about-me--text {
      h1 {
        font-size: 2.5rem;
        margin-bottom: 30px;
      }
      p {
        margin: 10px;
        font-size: 1.5rem;
      }
      p.im-colombian {
        margin-bottom: 40px;
      }
    }
  }
}