main {
  section.about-section {
    align-items: center;
    background-color: $bg-color-about-section;
    padding-top: 20px;
    position: relative;
    div.screen {
      display: none;
      background-image: url("icons/screen.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 120px;
      height: 120px;
      z-index: 1;
      position: absolute;
      top: 105px;
      left: calc(50% - 60px);
    }
    div.mouse {
      background-image: url("icons/mouse.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 66px;
      height: 66px;
      z-index: 1;
      position: absolute;
      top: 65px;
      right: 15px;
    }
    div.mouse-pointer {
      background-image: url("icons/mouse-pointer-solid.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 66px;
      height: 66px;
      z-index: 1;
      position: absolute;
      bottom: 65px;
      left: 15px;
    }
    div.about-me--text {
      z-index: 0;
      h1 {
        font-size: 2.5rem;
        margin-bottom: 30px;
      }
      p {
        margin: 10px;
        font-size: 1.5rem;
      }
      p.im-colombian {
        margin-bottom: 40px;
      }
    }
    @media only screen and (min-width: 801px) {
      div.screen {
        display: block;
      }
      div.mouse {
        width: 85px;
        height: 85px;
        top: 70px;
        right: 35px;
      }
      div.mouse-pointer {
        width: 85px;
        height: 85px;
        bottom: 70px;
        left: 35px;
      }
    }
  }
}